[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "==2.25.1"
fastapi = "==0.65.1"
psycopg2-binary = "==2.8.6"
rich = "==10.2.0"
uvicorn = "==0.13.4"

[requires]
python_version = "3.6"
