[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
fastapi = "==0.65.1"
minio = "==7.0.3"
uvicorn = "==0.13.4"
rich = "==10.2.0"
scikit-learn = "==0.24.2"

[requires]
python_version = "3.6"
